<% layout('layout/boiler_plate')%>

<br />
<h1>About</h1>
<br />
<p style="max-width: 700px; margin: auto">
  This project is created to work as the software to be used in a supermarket,
  by the manager, sales clerk and the supermarket staff. It is created by using
  MongoDB, Nodejs and EJS. The authemtication is done by using passsport js.
  Google Charts api is used to visulaize data in form of pie and bar charts.
</p>
